$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
@import 'bourbon';

@include font-face(sincity, 'fonts/Sin City');
@include font-face(bluheadstudio, 'fonts/BluHead StudioChurchward');
@include font-face(blambot, 'fonts/BlambotBold');

@-webkit-keyframes drop-arrow-loop {
  0% {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0
  }
  20% {
    opacity: 1
  }
  40% {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px)
  }
  50% {
    opacity: 1
  }
  100% {
    -webkit-transform: translateY(90px);
    -ms-transform: translateY(90px);
    transform: translateY(90px);
    opacity: 0
  }
}

@-moz-keyframes drop-arrow-loop {
  from {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 1
  }
  to {
    -webkit-transform: translateY(90px);
    -ms-transform: translateY(90px);
    transform: translateY(90px);
    opacity: 0
  }
}

@keyframes drop-arrow-loop {
  from {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 1
  }
  to {
    -webkit-transform: translateY(90px);
    -ms-transform: translateY(90px);
    transform: translateY(90px);
    opacity: 0
  }
}

html, body, .home {
  height: 100%;
}

body {
  background: #000;
  img {
    margin: 0 auto;
  }
}

.header,
.profile,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.home {
  .film-rating {
    display: none;
    background: url('images/film-rating.png') center center no-repeat;
    background-size: cover;
    width: 153px;
    height: 65px;
    position:absolute;
    left: 15px;
    bottom: 15px;
  }

}

.row {
  margin : 15px 0 15px 0;
   div {
    margin: 10px 0;
  }
}

.header {

  h3 {
    margin: 10px 0 0 0;
    font-weight: normal;
    color: #777777;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: bluheadstudio;
    font-size: 22px;
  }
}

.slide-title {
  background: #fa0f4a;
  h2 {
    font-family: blambot;
    color: #fff;
    text-align: center;
    font-size : 18px;
    margin : 12px 0;
  }
}

.jumbotron {
  text-align: center;
  background: none;
  padding: 40px 0;
  h1 {
    @include transform(rotate(-16deg));
    font-family: sincity;
    color: #fff;
  }
  h4 {
    @include transform(rotate(-16deg));
    font-family: blambot;
    color: #fff;
    font-size: 14px;
  }
  .scroll-indicator {
    background: url('images/intro-icon-scrolldown.png') no-repeat 0 0;
    height: 141px;
    width: 131px;
    margin: 0 auto;
    bottom: 0px;
    position: absolute;
    left: 65px;
    right: 65px;

    .down-arrow {
      background: url('images/intro-icon-scrolldown-arrow.png') no-repeat center center;
      height: 19px;
      position: absolute;
      width: 100%;
      -webkit-animation: drop-arrow-loop 1.8s infinite;
      -moz-animation: drop-arrow-loop 1.8s infinite;
      animation: drop-arrow-loop 1.8s infinite;
    }
  }
}

.story {
  background : url('images/sincity-bg.jpg') no-repeat 0 0;
  background-size: cover;
  padding: 10% 0;

  h3 {
    text-align: center;
    font-family : bluheadstudio, Arial;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0px 0px 10px #000;
    color: white;
    margin: 20px 0;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.profile {
  h4,h3 {
    font-family : blambot;
  }
  border: 10px solid #fff;

  &.text {
    color: #fff;
    padding: 20px;
    h3 {
    @include transform(rotate(-4deg));
      margin: 10px 0 30px 0;
    }
    h4 {
      display: inline-block;
      background: #fa0f4a;
      padding: 6px;
    }
  }
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

  .header h3 {
    font-size: 36px;
  }

  /* Remove the padding we set earlier */
  .header,
  .profile,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    h4 {
      font-size: 18px;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .home {
    .film-rating {
      display: block;
    }
  }

  .slide-title {
    h2 {
      font-size: 30px;
    }
  }

  .story {
    h3 {
      font-size : 36px;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}