$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
@import 'bourbon';

@include font-face(sincity, 'fonts/Sin City');
@include font-face(bluheadstudio, 'fonts/BluHead Studio - Churchward Heading Bold');

body {
  background: #000;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

  h3 {
    margin: 10px 0 0 0;
    font-weight: normal;
    color: #777777;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: bluheadstudio;
    font-size: 22px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background: none;
  padding: 40px 0;
  h1 {
    @include transform(rotate(-16deg));
    font-family : sincity;
    color : #fff;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-sm-min) {
  .container {
    max-width: 730px;
  }

  .header h3 {
    font-size: 36px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  @media screen and (min-width: $screen-md-max) {

  }
}
