<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Gemma's Birthday</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="styles/app.css">

</head>
<body ng-app="gemsApp" ng-controller="profileCtrl">

<div class="home">
  <div class="container-fluid">

    <div class="header">
      <h3 class="text-muted">Coming to Melbourne August 8 2015</h3>
    </div>

    <div class="jumbotron">
      <h4>Thug life Productions Presents</h4>

      <h1>Gemmas <br>Birthday</h1>
      <div class="scroll-indicator">
        <div class="down-arrow"></div>
      </div>
    </div>
    <div class="film-rating"></div>
  </div>
</div>

<div class="container-fluid slide-title">
  <h2>Background</h2>
</div>

<div class="story">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 data-500-top="opacity: 0;" data-200-top="opacity: 1;">
            For the third year in a row Gemma has organized her massive bender weekend.
            Things kick off on Friday night at Morris and Jone's where we will be making the most of their happy hour.
            Saturday night will be large at Mitch's house and Sunday will continue with a Thrift shop theme.
        </h3>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid slide-title">
  <h2>The Girls</h2>
</div>


<div class="container">

  <div class="girls">

    <div class="row" ng-repeat="(index, girl) in profile.girls">

      <div class="col-md-6">
        <text-profile ng-show="index % 2 == 0"></text-profile>
        <photo-profile ng-show="index % 2 == 1"></photo-profile>
      </div>
      <div class="col-md-6">
        <photo-profile ng-show="index % 2 == 0"></photo-profile>
        <text-profile ng-show="index % 2 == 1"></text-profile>
      </div>

    </div>
  </div>

</div>

<div class="container-fluid slide-title">
  <h2>The boys</h2>
</div>

<div class="container">

  <div class="boys">

    <div class="row" ng-repeat="(index, girl) in profile.boys">

      <div class="col-md-6">
        <text-profile ng-show="index % 2 == 0"></text-profile>
        <photo-profile ng-show="index % 2 == 1"></photo-profile>
      </div>
      <div class="col-md-6">
        <photo-profile ng-show="index % 2 == 0"></photo-profile>
        <text-profile ng-show="index % 2 == 1"></text-profile>
      </div>

    </div>
  </div>

</div>

<div class="container-fluid slide-title">
  <h2>More photos and profiles to come over the weekend...</h2>
</div>

<div class="container-fluid">

  <div class="footer">
    <p>Love from Karl</p>
  </div>

</div>


<audio loop autoplay="">
  <source src="media/background.mp3" />
</audio>


<script src="scripts/angular/angular.min.js"></script>
<script src="scripts/skrollr/skrollr.min.js"></script>

<script>

  window.onload = function() {
    var s = skrollr.init({
      forceHeight: false
    });

    if (s.isMobile()) {
      s.destroy();
    }
  }

</script>

<script src="scripts/app.js"></script>

</body>
</html>
