<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>sin city</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="styles/app.css">

  <script src="../bower_components/modernizr/modernizr.js"></script>
</head>
<body ng-app="gemsApp" ng-controller="profileCtrl" id="skrollr-body">

<div class="home">
  <div class="container-fluid">

    <div class="header">
      <h3 class="text-muted">Coming to Melbourne August 8</h3>
    </div>

    <div class="jumbotron">
      <h4>501/87 High Street Presents</h4>

      <h1>Gemmas <br>Birthday</h1>
      <div class="scroll-indicator">
        <div class="down-arrow"></div>
      </div>
    </div>
    <div class="film-rating"></div>
  </div>
</div>

<div class="container-fluid slide-title">
  <h2>Background</h2>
</div>

<div class="story">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 data-500-top="opacity: 0;" data-200-top="opacity: 1;">For the second year in a row, Gemma will be having a massive birthday weekend here in Melbourne.
          Things will kick off on Friday night with a relatively big night at "The Long Room" in the CBD. Saturday night
          will
          be even bigger and most likely end up at at KFC on Chapel St. Saving the best to last we will be hitting the
          Morning Peninsular
          on a private wine bus. Assuming you make it that far...
        </h3>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid slide-title">
  <h2>The Girls</h2>
</div>


<div class="container">

  <div class="girls">

    <div class="row" ng-repeat="(index, girl) in profile.girls">

      <div class="col-md-6">
        <text-profile ng-show="index % 2 == 0"></text-profile>
        <photo-profile ng-show="index % 2 == 1"></photo-profile>
      </div>
      <div class="col-md-6">
        <photo-profile ng-show="index % 2 == 0"></photo-profile>
        <text-profile ng-show="index % 2 == 1"></text-profile>
      </div>

    </div>
  </div>

</div>

<div class="container-fluid slide-title">
  <h2>The boys</h2>
</div>

<div class="container">

  <div class="boys">

    <div class="row" ng-repeat="(index, girl) in profile.boys">

      <div class="col-md-6">
        <text-profile ng-show="index % 2 == 0"></text-profile>
        <photo-profile ng-show="index % 2 == 1"></photo-profile>
      </div>
      <div class="col-md-6">
        <photo-profile ng-show="index % 2 == 0"></photo-profile>
        <text-profile ng-show="index % 2 == 1"></text-profile>
      </div>

    </div>
  </div>

</div>

<div class="container-fluid">

  <div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from Karl</p>
  </div>

</div>


<!--<script src="../bower_components/jquery/dist/jquery.js"></script>-->
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/skrollr/dist/skrollr.min.js"></script>

<script>

  window.onload = function() {
    var s = skrollr.init({
      forceHeight: false
    });

    if (s.isMobile()) {
      s.destroy();
    }
  }

</script>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function (b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l;
    b[l] || (b[l] =
      function () {
        (b[l].q = b[l].q || []).push(arguments)
      });
    b[l].l = +new Date;
    e = o.createElement(i);
    r = o.getElementsByTagName(i)[0];
    e.src = '//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<script src="scripts/app.js"></script>

</body>
</html>
